/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
}

/* Меню навигации в шапке */
.nav__header-list {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__header-item a {
  color: #000;
  font-size: 18px;
  line-height: 135%;
  text-decoration: underline;
}

.active-item a {
  text-decoration: none;
}

/* Маркер между пунктами меню */
.nav__header-marker img {
  display: block;
}

/* Логотип в шапке */
.logo__header-image {
  height: 105px;
  padding-right: 145px;
}

/* Контакты в шапке */
.contacts__header {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-align: left;
}

.contacts__header a {
  color: #000;
}

.addr__header {
  text-decoration: none;
}

/* Hero */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 757px;
  overflow: hidden;
  color: white;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

/* Затемнение фона hero-секции */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Заголовок секции hero */
.hero__title {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 165px 50px 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.hero__title span {
  display: block;
  padding-bottom: 20px;
}

.hero__title span span.no-letter-spacing {
  display: inline-block;
  letter-spacing: 0;
}

/* Выравнивание слов заголовка по сторонам */
.hero__title span:nth-child(1) {
  text-align: start;
}

.hero__title span:nth-child(2) {
  padding-bottom: 0;
  letter-spacing: 0.3em;
  text-align: center; 
}

.hero__title span:nth-child(3) {
  letter-spacing: 0.3em;
  text-align: end;
}

.no-letter-spacing{
  letter-spacing: 0;
}

/* Контент под заголовком hero */
.hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 50px 50px;
}

/* Текст под заголовком */
.text-hero {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 0.8em;
  white-space: nowrap;
}

/* Кнопка "Сделать ставку" */
.btn-hero {
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  transition: 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}

.btn-hero:hover {
  color: black;
  background-color: white;
}

/* Лоты */
.lots {
  margin-bottom: 120px;
  padding: 60px 40px;
}

.lots__title {
  margin: 27px 40px;
  color: #000;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

/* Сетка карточек лотов */
.lots-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Карточка лота */
.lot__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  color: white;
  background-position: center;
  background-size: cover;
}

/* Затемнение карточки */
.lot__item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

/* Поверх затемнения */
.lot__item * {
  position: relative;
  z-index: 2;
}

/* Заголовок карточки */
.title__lots {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

/* Текст карточки */
.text__lots {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* Фон для карточек */
.lot__item:nth-child(1) {
  background-image: url("../images/card-lot-01.jpg");
}

.lot__item:nth-child(2) {
  background-image: url("../images/card-lot-02.jpg");
}

.lot__item:nth-child(3) {
  background-image: url("../images/card-lot-03.jpg");
}

/* Ссылка "посмотреть больше" */
.lots__link {
  display: inline-block;
  margin: 30px 40px;
  color: black;
  font-size: 20px;
  text-decoration: underline;
}

/* Аукцион */
.auction {
  padding: 60px 40px;
}

.auction__content {
  display: flex;
  gap: 72px;
  max-width: 1140px;
  margin: 0 auto;
}

/* Обёртка логотипа в виде круга */
.auction__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

/* Логотип в секции аукциона */
.auction__logo {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

/* Текстовый блок */
.auction__text-block {
  max-width: 665px;
  line-height: 120%;
}

.auction__text-second {
  max-width: 695px;
  line-height: 120%;
}

.auction__title {
  margin: 101px 0 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 135%;
  text-transform: uppercase;
}

.auction__text {
  margin: 0 0 24px;
  font-size: 20px;
  line-height: 120%;
}

/* === Footer (Подвал сайта) === */
.footer {
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  padding-top: 95px;
  padding-bottom: 80px;
}

/* Контактная информация в футере */
.contacts__footer {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  padding-left: 20px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-align: start;
}

.addr__footer {
  text-decoration: none;
}

/* Навигация в футере */
.nav__footer ul {
  text-align: center;
  list-style: none;
}

.nav__footer-item a {
  font-size: 18px;

}

/* Социальные иконки */
.social-icons {
  display: flex;
  align-items: start;
  gap: 48px;
  padding-right: 80px;
}

.social-icons img {
  width: 48px;
}

.social-icons img:hover {
  cursor: pointer;
}